<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!-- BEGIN BODY -->
<body>
	<!-- BEGIN PAGE HEADER-->
	<div class="row">
	  <div class="col-md-12"> 
	    <!-- BEGIN PAGE TITLE & BREADCRUMB-->
	    <h3 class="page-title"> <span class="icon-svg2 icon-pad"></span> 首页  </h3>
	    <!-- END PAGE TITLE & BREADCRUMB--> 
	  </div>
	</div>
	<!-- END PAGE HEADER-->
	<!-- BEGIN PAGE CONTENT-->
	<h3 class="form-section"></h3>
	<div class="portlet-body form">
		<!-- BEGIN FORM-->

		<!-- END FORM-->
	</div>
	<!-- END PAGE CONTENT-->
</body>
</html>
<script type="text/javascript">

</script>