<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" />
<div th:fragment="gridDiv" class="scroller" style="height:450px" data-rail-visible="1" data-rail-color="yellow" data-handle-color="#a1b2bd">
	<div id="_page" class="alert alert-warning" style="margin-top:15px;" align='center'>没有满足条件的数据</div>
	<div id="myGrid" class="table-responsive table-scrollable"></div>
	<div class="row">
		<div id="myPage" class="pages dataTables_paginate paging_bootstrap" style="margin-right: 20px"></div>
	</div>
</div>