@charset "utf-8";
/* CSS Document */
#overlay{
   background: #303030;
   opacity: 0.50;
   filter:Alpha(opacity=50);
   display: none;
   position: absolute;
   top: 0px;
   left: 0px;
   width: 100%;
   height: 100%;
   z-index: 100;
}
#contentlay{
 margin-left:auto;
 margin-right:auto;
 margin:0px auto;
 border:1px solid #434C53;
 font-size:12px;
 font-family: "宋体";
 color:#ccc;
 width:400px;
 height:200px;
 position:absolute;
 z-index:110;
 display:none;
 background:#e7e7e7;
 left:35%;
 top:30%;
}

