.tree_div {
	border:1px solid #FF0000;
	position:relative;
	background: #FFFFFF;
}

.g_node {
	height: 20px;
	width: 250px;
	position:relative;
	background: #FFFFFF;
}

.gg_node {
	height: 20px;
	width: 250px;
	position:relative;
	background: #FFFFFF;
	top: -1px;
}

.node_z_span {
	font-size: 12px;
	font:tahoma,arial,helvetica,sans-serif;
	position:absolute;
	top: 4px;
}
